.flex {
  display: flex; }
  .flex.column {
    flex-direction: column; }
  .flex.center {
    justify-content: center; }
  .flex.space-between {
    justify-content: space-between; }
  .flex.middle {
    align-items: center; }

/* colors */
/* Grayscale colors. */
/* Roboto font */
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("/font/roboto-v19-latin/roboto-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("/font/roboto-v19-latin/roboto-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("/font/roboto-v19-latin/roboto-v19-latin-700.woff2") format("woff2"), url("/font/roboto-v19-latin/roboto-v19-latin-700.woff") format("woff"), url("/font/roboto-v19-latin/roboto-v19-latin-700.ttf") format("truetype"), url("/font/roboto-v19-latin/roboto-v19-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("/font/roboto-v19-latin/roboto-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("/font/roboto-v19-latin/roboto-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("/font/roboto-v19-latin/roboto-v19-latin-regular.woff2") format("woff2"), url("/font/roboto-v19-latin/roboto-v19-latin-regular.woff") format("woff"), url("/font/roboto-v19-latin/roboto-v19-latin-regular.ttf") format("truetype"), url("/font/roboto-v19-latin/roboto-v19-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: "Barlow Condensed";
  font-weight: 600;
  font-style: normal;
  src: url("/font/barlow-condensed-v3-latin/barlow-condensed-v3-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Barlow Condensed SemiBold"), local("BarlowCondensed-SemiBold"), url("/font/barlow-condensed-v3-latin/barlow-condensed-v3-latin-600.eot?#iefix") format("embedded-opentype"), url("/font/barlow-condensed-v3-latin/barlow-condensed-v3-latin-600.woff2") format("woff2"), url("/font/barlow-condensed-v3-latin/barlow-condensed-v3-latin-600.woff") format("woff"), url("/font/barlow-condensed-v3-latin/barlow-condensed-v3-latin-600.ttf") format("truetype"), url("/font/barlow-condensed-v3-latin/barlow-condensed-v3-latin-600.svg#Roboto") format("svg");
  /* Legacy iOS */ }

.wrap-all {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0; }

.relative {
  position: relative; }

.hide {
  display: none !important; }

/* colors */
/* Grayscale colors. */
body {
  margin: 0;
  background-color: lightgrey; }

.header-nav-ui {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #2A2A2B;
  position: relative; }
  .header-nav-ui a {
    text-decoration: none !important; }
  .header-nav-ui .more-btn-container .more-btn {
    margin-left: 20px !important;
    width: 74px;
    height: 30px; }
    .header-nav-ui .more-btn-container .more-btn > .dropdown-icon {
      margin-left: 8px; }
  .header-nav-ui .more-btn-container .more-content-container {
    position: absolute;
    top: 30px;
    left: 10px;
    background: #2A2A2B;
    min-width: 110px;
    padding: 20px;
    border-radius: 5px;
    display: none;
    z-index: 1; }
    .header-nav-ui .more-btn-container .more-content-container a {
      color: #FFFFFF;
      margin: 10px 0 0;
      text-align: left;
      font-weight: 700;
      font-size: 14px;
      line-height: 30px;
      white-space: nowrap; }
      .header-nav-ui .more-btn-container .more-content-container a:first-child {
        margin: 0; }
  .header-nav-ui .more-btn-container.isOpen .more-content-container {
    display: flex; }
  .header-nav-ui .more-btn-container.isOpen .more-btn * {
    z-index: 1; }
  .header-nav-ui .more-btn-container.isOpen .more-btn .mask {
    background-color: #555555;
    border-radius: 15px;
    opacity: 0.4;
    z-index: 0; }
  .header-nav-ui .more-btn-container.isOpen .more-btn .dropdown-icon {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1); }
  .header-nav-ui .primary-nav {
    background: #2A2A2B;
    color: #FFFFFF;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .header-nav-ui .primary-nav a {
      color: #FFFFFF; }
    .header-nav-ui .primary-nav .tc-logo {
      margin: 0 30px;
      justify-self: flex-start;
      margin-right: auto;
      cursor: pointer; }
    .header-nav-ui .primary-nav .primary-level-1-separator {
      display: none; }
    .header-nav-ui .primary-nav .primary-level-1 {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      margin: 0 30px;
      padding-right: 5px;
      position: relative; }
      .header-nav-ui .primary-nav .primary-level-1.more-menu {
        display: none; }
      .header-nav-ui .primary-nav .primary-level-1.isOpen {
        color: #43D7B0;
        justify-self: flex-start; }
        .header-nav-ui .primary-nav .primary-level-1.isOpen.isOpenSubmenu {
          color: #FFFFFF; }
      .header-nav-ui .primary-nav .primary-level-1::before {
        content: "";
        position: absolute;
        display: block;
        left: -30px;
        top: 0;
        width: 1px;
        height: 100%;
        background: #555555; }
      .header-nav-ui .primary-nav .primary-level-1.login-container {
        margin-right: 20px;
        position: relative; }
        .header-nav-ui .primary-nav .primary-level-1.login-container .notification-icon {
          position: relative; }
          .header-nav-ui .primary-nav .primary-level-1.login-container .notification-icon::after {
            content: "";
            width: 6px;
            height: 6px;
            position: absolute;
            top: -2px;
            right: -2px;
            background: #EF476F;
            border-radius: 6px;
            display: block; }
        .header-nav-ui .primary-nav .primary-level-1.login-container > .user-info-container {
          margin-left: 33px;
          border-radius: 15px; }
          .header-nav-ui .primary-nav .primary-level-1.login-container > .user-info-container .handle-container .handle {
            display: none;
            font-size: 14px;
            font-weight: 700;
            line-height: 30px;
            margin-left: 5px; }
          .header-nav-ui .primary-nav .primary-level-1.login-container > .user-info-container .handle-container .drowdown-icon {
            width: 16px;
            height: 16px;
            margin: 0 5px; }
            .header-nav-ui .primary-nav .primary-level-1.login-container > .user-info-container .handle-container .drowdown-icon .dropdown-icon {
              transition: all 0.5s; }
          .header-nav-ui .primary-nav .primary-level-1.login-container > .user-info-container:hover, .header-nav-ui .primary-nav .primary-level-1.login-container > .user-info-container.isUserPopupOpen {
            background-color: #636363; }
            .header-nav-ui .primary-nav .primary-level-1.login-container > .user-info-container:hover .handle-container .handle, .header-nav-ui .primary-nav .primary-level-1.login-container > .user-info-container.isUserPopupOpen .handle-container .handle {
              display: block; }
          .header-nav-ui .primary-nav .primary-level-1.login-container > .user-info-container.isUserPopupOpen .handle-container .dropdown-icon {
            transform: rotate(180deg); }
          .header-nav-ui .primary-nav .primary-level-1.login-container > .user-info-container .avatar {
            width: 30px;
            height: 30px;
            display: inline-block; }
        .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup {
          position: absolute;
          right: 0;
          top: 40px;
          color: #2A2A2B;
          border-radius: 10px;
          box-shadow: 0 5px 35px 5px rgba(21, 21, 22, 0.1), 0 10px 14px 0 rgba(21, 21, 22, 0.3);
          width: 288px;
          background: #FFFFFF;
          border-radius: 6px;
          overflow: hidden;
          z-index: 1; }
          .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup a {
            color: #2A2A2B; }
          .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup .header {
            background: #0AB88A;
            height: 90px;
            padding: 0 20px;
            color: #FFFFFF; }
            .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup .header .handle {
              font-size: 16px;
              line-height: 20px; }
            .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup .header .email {
              font-size: 12px;
              line-height: 14px;
              margin-top: 4px; }
            .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup .header .avatar {
              margin-right: 10px; }
          .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup .switch-to-business-container {
            background: #2A2A2B;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 30px;
            height: 50px; }
            .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup .switch-to-business-container .switch-icon {
              margin: 0 10px 0 22px; }
          .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup .menu {
            padding: 15px 0 25px 0; }
            .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup .menu a {
              height: 50px;
              display: flex;
              align-items: center;
              margin: -5px 0;
              padding: 0 20px;
              font-size: 14px;
              font-weight: 400;
              line-height: 30px; }
              .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup .menu a:hover {
                background: #F4F4F4; }
            .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-popup .menu .separator {
              background: #E0E0E0;
              height: 1px;
              width: 100%;
              margin: 10px;
              height: 1px;
              width: calc(100% - 40px);
              align-self: center; }
    .header-nav-ui .primary-nav .primary-level-2-container {
      display: none;
      margin: 0 auto 0 0; }
      .header-nav-ui .primary-nav .primary-level-2-container.isOpen {
        display: flex; }
      .header-nav-ui .primary-nav .primary-level-2-container .primary-level-2 {
        font-family: 'Roboto';
        font-weight: 700;
        margin-left: 30px;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start; }
        .header-nav-ui .primary-nav .primary-level-2-container .primary-level-2:first-child {
          margin-left: 0; }
        .header-nav-ui .primary-nav .primary-level-2-container .primary-level-2:nth-child(2) {
          margin-left: 0; }
        .header-nav-ui .primary-nav .primary-level-2-container .primary-level-2.isOpen {
          color: #43D7B0; }
    .header-nav-ui .primary-nav .more-btn-container .more-content-container a.isOpen {
      color: #43D7B0; }
  .header-nav-ui .icon-chosen-arrow {
    position: absolute;
    display: none;
    bottom: -1px;
    left: 0;
    transform: translate3d(166.5px, 0px, 0px); }
    .header-nav-ui .icon-chosen-arrow.isAnimation {
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
      -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
      transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22); }
    .theme-light .header-nav-ui .icon-chosen-arrow .icon-light {
      display: block; }
    .theme-dark .header-nav-ui .icon-chosen-arrow .icon-light {
      display: none; }
    .theme-light .header-nav-ui .icon-chosen-arrow .icon-dark {
      display: none; }
    .theme-dark .header-nav-ui .icon-chosen-arrow .icon-dark {
      display: block; }
  .header-nav-ui .secondary-nav {
    font-size: 13px; }
    .theme-light .header-nav-ui .secondary-nav {
      background: #FBFBFB;
      color: #2A2A2B; }
    .theme-dark .header-nav-ui .secondary-nav {
      background: #636363;
      color: #FFFFFF; }
    .header-nav-ui .secondary-nav a {
      margin: 0 15px; }
      .theme-light .header-nav-ui .secondary-nav a {
        color: #2A2A2B; }
      .theme-dark .header-nav-ui .secondary-nav a {
        color: #FFFFFF; }
    .header-nav-ui .secondary-nav .secondary-nav-link-container {
      position: relative;
      height: 30px; }
      .header-nav-ui .secondary-nav .secondary-nav-link-container > a {
        position: relative; }
        .header-nav-ui .secondary-nav .secondary-nav-link-container > a.isOpen {
          font-family: 'Roboto';
          font-weight: 700; }
      .header-nav-ui .secondary-nav .secondary-nav-link-container .icon-select {
        position: absolute;
        bottom: -1px;
        left: 0;
        transform: translate3d(34.5px, 0px, 0px);
        width: 15px;
        height: 3px;
        border-radius: 1.5px;
        background: #43D7B0; }
        .header-nav-ui .secondary-nav .secondary-nav-link-container .icon-select.isAnimation {
          -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
          -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
          -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
          transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22); }
    .theme-light .header-nav-ui .secondary-nav .more-btn-container .more-content-container {
      background: #FBFBFB; }
    .theme-dark .header-nav-ui .secondary-nav .more-btn-container .more-content-container {
      background: #636363; }
    .header-nav-ui .secondary-nav .more-btn-container .more-content-container a {
      font-family: 'Roboto';
      font-weight: 400; }
      .theme-light .header-nav-ui .secondary-nav .more-btn-container .more-content-container a {
        color: #2A2A2B; }
      .theme-dark .header-nav-ui .secondary-nav .more-btn-container .more-content-container a {
        color: #FFFFFF; }
      .header-nav-ui .secondary-nav .more-btn-container .more-content-container a.isOpen {
        font-family: 'Roboto';
        font-weight: 700; }
    .theme-light .header-nav-ui .secondary-nav .more-btn-container .more-btn .icon-light {
      display: block; }
    .theme-dark .header-nav-ui .secondary-nav .more-btn-container .more-btn .icon-light {
      display: none; }
    .theme-light .header-nav-ui .secondary-nav .more-btn-container .more-btn .icon-dark {
      display: none; }
    .theme-dark .header-nav-ui .secondary-nav .more-btn-container .more-btn .icon-dark {
      display: block; }
    .header-nav-ui .secondary-nav .more-btn-container.isOpen .more-btn .mask {
      background-color: #E9E9E9; }
      .theme-light .header-nav-ui .secondary-nav .more-btn-container.isOpen .more-btn .mask {
        display: 1; }
      .theme-dark .header-nav-ui .secondary-nav .more-btn-container.isOpen .more-btn .mask {
        display: 0.4; }
  .header-nav-ui .mobile-nav {
    height: 60px;
    background: #2A2A2B;
    padding: 0 20px 0 0;
    display: none; }
    .header-nav-ui .mobile-nav .left-menu-container {
      width: 60px;
      height: 60px; }
    .header-nav-ui .mobile-nav .drowdown-icon {
      margin-left: 12px; }
    .header-nav-ui .mobile-nav .avatar-container {
      position: relative; }
      .header-nav-ui .mobile-nav .avatar-container::after {
        content: "";
        width: 7px;
        height: 7px;
        position: absolute;
        top: -4px;
        right: -6px;
        background: #EF476F;
        border-radius: 6px;
        display: block; }
      .header-nav-ui .mobile-nav .avatar-container .avatar {
        width: 30px;
        height: 30px;
        display: inline-block; }
    .header-nav-ui .mobile-nav span {
      font-family: 'Roboto';
      font-weight: 700;
      color: #FFFFFF;
      font-size: 16px;
      line-height: 30px; }
  .header-nav-ui .mobile-nav-sub-menu {
    position: absolute;
    width: 100%;
    top: 60px;
    z-index: 1;
    display: none; }
    .header-nav-ui .mobile-nav-sub-menu .mask {
      z-index: -1;
      background: #2A2A2B;
      opacity: 0.8;
      display: none; }
    .header-nav-ui .mobile-nav-sub-menu .header {
      background: #264346;
      height: 60px; }
      .header-nav-ui .mobile-nav-sub-menu .header .drowdown-icon-container {
        margin-left: 8px; }
      .header-nav-ui .mobile-nav-sub-menu .header span {
        font-family: 'Barlow Condensed';
        font-weight: 600;
        color: #FFFFFF;
        font-size: 28px;
        line-height: 40px; }
    .header-nav-ui .mobile-nav-sub-menu .menu {
      padding: 15px 20px;
      background: #264346;
      border-top: 1px solid #1F7E8A;
      display: none; }
      .header-nav-ui .mobile-nav-sub-menu .menu a {
        color: #FFFFFF;
        font-size: 18px;
        line-height: 40px;
        height: 40px;
        margin: 5px 0;
        display: flex;
        align-items: center; }
        .header-nav-ui .mobile-nav-sub-menu .menu a.isOpen {
          font-family: 'Roboto';
          font-weight: 700; }
          .header-nav-ui .mobile-nav-sub-menu .menu a.isOpen::before {
            content: "";
            height: 30px;
            width: 3px;
            border-radius: 1.5px;
            background: #FFFFFF;
            display: inline-block;
            margin-right: 10px; }
    .header-nav-ui .mobile-nav-sub-menu.isOpen:not(.isEmpty) {
      height: calc(100vh - 60px); }
      .header-nav-ui .mobile-nav-sub-menu.isOpen:not(.isEmpty) .menu,
      .header-nav-ui .mobile-nav-sub-menu.isOpen:not(.isEmpty) .mask {
        display: flex; }
      .header-nav-ui .mobile-nav-sub-menu.isOpen:not(.isEmpty) .drowdown-icon-container {
        -moz-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        transform: scale(-1, -1); }
  .header-nav-ui .secondary-nav-mobile {
    position: absolute;
    top: 120px;
    width: 100%;
    height: calc(100vh - 120px);
    z-index: 1;
    display: none; }
    .theme-light .header-nav-ui .secondary-nav-mobile {
      background: #FBFBFB; }
    .theme-dark .header-nav-ui .secondary-nav-mobile {
      background: #636363; }
    .header-nav-ui .secondary-nav-mobile .menu {
      padding: 15px 20px; }
      .header-nav-ui .secondary-nav-mobile .menu a {
        font-size: 18px;
        line-height: 40px;
        height: 40px;
        margin: 5px 0;
        display: flex;
        align-items: center; }
        .theme-light .header-nav-ui .secondary-nav-mobile .menu a {
          color: #2A2A2B; }
        .theme-dark .header-nav-ui .secondary-nav-mobile .menu a {
          color: #FFFFFF; }
        .header-nav-ui .secondary-nav-mobile .menu a.isOpen {
          font-family: 'Roboto';
          font-weight: 700; }
          .header-nav-ui .secondary-nav-mobile .menu a.isOpen::before {
            content: "";
            height: 30px;
            width: 3px;
            border-radius: 1.5px;
            background: #43D7B0;
            display: inline-block;
            margin-right: 10px; }
    .header-nav-ui .secondary-nav-mobile .footer {
      background: #F4F4F4;
      min-height: 70px; }
      .header-nav-ui .secondary-nav-mobile .footer span {
        font-size: 12px;
        color: #7F7F7F;
        text-align: center;
        line-height: 20px; }
  .header-nav-ui .user-info-popup,
  .header-nav-ui .login-container {
    display: none; }
    .header-nav-ui .user-info-popup.isOpen,
    .header-nav-ui .login-container.isOpen {
      display: flex; }
  .header-nav-ui.isLoggedIn .login-container {
    display: flex; }
    .header-nav-ui.isLoggedIn .login-container.isOpen .dropdown-icon {
      -moz-transform: scale(-1, -1);
      -o-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1); }
  .header-nav-ui.isLoggedIn .login-btn {
    display: none; }
  .header-nav-ui .user-info-popup.user-info-popup-mobile {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: #FFFFFF;
    display: none;
    z-index: 1;
    top: 0; }
    .header-nav-ui .user-info-popup.user-info-popup-mobile .header {
      padding: 7px 0 5px 17px; }
      .header-nav-ui .user-info-popup.user-info-popup-mobile .header .left-content img {
        border: 3px solid #C0C0C0;
        border-radius: 33px;
        margin-right: 17px; }
      .header-nav-ui .user-info-popup.user-info-popup-mobile .header .left-content .handle {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 20px; }
      .header-nav-ui .user-info-popup.user-info-popup-mobile .header .left-content .description {
        font-size: 12; }
      .header-nav-ui .user-info-popup.user-info-popup-mobile .header .icon-close {
        width: 50px;
        height: 50px; }
    .header-nav-ui .user-info-popup.user-info-popup-mobile .menu .separator {
      background: #E0E0E0;
      width: calc(100% - 80px);
      margin: 15px 0;
      height: 1px;
      align-self: center;
      padding: 0 20px; }
    .header-nav-ui .user-info-popup.user-info-popup-mobile .menu a {
      color: #2A2A2B;
      height: 40px;
      display: flex;
      align-items: center;
      margin: 5px 0;
      padding: 0 20px; }
      .header-nav-ui .user-info-popup.user-info-popup-mobile .menu a:hover {
        background: #F4F4F4; }

@media (max-width: 900px) {
  .header-nav-ui .primary-nav .primary-level-1 {
    margin: 0 20px; }
    .header-nav-ui .primary-nav .primary-level-1::before {
      left: -20px; }
  .header-nav-ui .primary-nav .primary-level-2-container .primary-level-2 {
    margin-left: 20px; }
  .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-container {
    background: none; }
    .header-nav-ui .primary-nav .primary-level-1.login-container .user-info-container .handle {
      display: none; }
  .header-nav-ui .secondary-nav a {
    margin: 0 10px; }
  .header-nav-ui .more-btn-container .more-btn {
    margin-left: 10px !important; } }

@media (max-width: 768px) {
  .header-nav-ui .user-info-popup,
  .header-nav-ui .login-container {
    display: none; }
    .header-nav-ui .user-info-popup.isOpen,
    .header-nav-ui .login-container.isOpen {
      display: flex; }
  .header-nav-ui .primary-nav {
    height: 60px;
    justify-content: space-around;
    display: none; }
    .header-nav-ui .primary-nav .primary-level-2-container,
    .header-nav-ui .primary-nav .primary-level-2-container.isOpen,
    .header-nav-ui .primary-nav .tc-logo {
      display: none; }
    .header-nav-ui .primary-nav .primary-level-1-separator {
      display: block;
      height: 30px;
      width: 1px;
      background: #555555; }
    .header-nav-ui .primary-nav .primary-level-1::before {
      content: none; }
    .header-nav-ui .primary-nav .primary-level-1.login-btn, .header-nav-ui .primary-nav .primary-level-1.login-container,
    .header-nav-ui .primary-nav .primary-level-1 .user-info-popup {
      display: none; }
    .header-nav-ui .primary-nav .primary-level-1.more-menu {
      display: flex; }
    .header-nav-ui .primary-nav .primary-level-1.isOpen.isOpenSubmenu {
      color: #43D7B0; }
  .header-nav-ui .secondary-nav {
    display: none; }
  .header-nav-ui .mobile-nav {
    display: flex; }
    .header-nav-ui .mobile-nav .close-btn {
      display: none; }
  .header-nav-ui .mobile-nav-sub-menu {
    display: block; }
    .header-nav-ui .mobile-nav-sub-menu.isNothing {
      display: none; }
  .header-nav-ui.isOpenSecondaryNavMobile .primary-nav,
  .header-nav-ui.isOpenSecondaryNavMobile .secondary-nav-mobile {
    display: flex; }
  .header-nav-ui.isOpenSecondaryNavMobile .mobile-nav .menu-btn {
    display: none; }
  .header-nav-ui.isOpenSecondaryNavMobile .mobile-nav .close-btn {
    display: flex; }
  .header-nav-ui.isOpenSecondaryNavMobile .mobile-nav-sub-menu {
    display: none; } }

.avatar {
  border-radius: 100%; }
